*{
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    color: darkslateblue;
    background-color: white;
}
h1{
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: monospace;
    text-shadow: 1px 1px 1px black , 2px 2px 2px darkslateblue , 3px 3px 3px black;
}
p{
    width: 700px;
    margin: 0 auto;
}
p img{
    width: 100%;
}
#loader{
    opacity: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    visibility: visible;
    background-color: white;
}
.hidden{
    opacity: 0 !important;
    visibility: hidden !important;
}